@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;

}
body{
  font-family: 'Pangolin', cursive;
}

.principalDiv{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.headerDiv{
  height: 60px;
  background: gray;
  border:solid black;
  padding-top: 8px;
  margin: 20px 0px;
}

.botonRoll{
  margin: 10%;
  font-size: 1.5rem;
  font-family: 'Pangolin', cursive;
}