@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
  margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
  font-family: 'Krona One', sans-serif;
  color: white;
}
.principalDiv{
  /* border: solid black; */
  margin: 0 auto;
  text-align: center;
  width: 65%;
}

.cajaGris{
  background: rgb(71, 71, 71);
  height: 600px;
  margin: 25px 0px;
}

.headerDiv>h1{
  padding: 35px 0px;
}
.inputNuevoTodo{
  width: 80%;
  margin: 25px 0px;
  font-size: 1.5rem;
  padding: 5px 5px;
}

.cadaTodoItem{
  text-align: left;
  list-style: none;
  margin: 3rem;
  border-bottom: solid yellow;
}

.botonX{
  float: right;
  padding: 6px 10px;
  position: relative;
  top: -13px;
}
.botonX:hover{

  background: rgb(85, 0, 0);
  color: white;
  border-style: none;
  
}

.done{

  border-bottom: solid rgb(102, 102, 0);

color: rgb(49, 49, 49);
 
}