
/*  SE COMENTA EL CSS PARA QUE PUEDAS RECREARLO EN JAVASCRIPT 

body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

div {
    width: 600px;
    margin: 5em auto;
    padding: 2em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}

@media (max-width: 700px) {
    div {
        margin: 0 auto;
        width: auto;
    }
}

 */

/* 
 pElem.style.color = "gray";
 pElem.style.fontSize ="21px";
 pElem.style.maxWidth = "800px";
 pElem.style.textAlign ="center";
 */
 .un-mensaje {
color: gray;
font-size: 21px;
max-width: 800px;
text-align: center;
 }

 .on {
     background-color: white;
 }

 .centro{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 