@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  font-family: 'Montserrat', sans-serif;
  color: #e1e1e1;
  /* text-align: center; */

}

.flexMainTD {
  /* border: solid black; */
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cajaGeneral {
  padding: 120px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  

  background: #333333;
  width: 50%;



}

.tituloTodo {
  /* border: solid white; */
  padding: 5% 0% 5% 0%;
}

input::placeholder{
  color: #c0c0c0;
}

input {
  height: 3rem;
  width: 30rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  border-radius:  10px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: 1.2rem;
  color: #333333;
}

.itemTodo{
  list-style: none;
  padding-top:2rem;
  padding-bottom: .5rem;
  padding-right: .5rem;
  border-bottom: solid yellow;
  width: 400px;
  font-size: 1.3rem;
}

li:first-child {
  border-top: solid rgb(114, 114, 114);
  padding-top: 40px;
}

li:hover {
  cursor: default;
}

.done {
text-decoration:  line-through rgb(165, 165, 165);
color: #696969;
border-bottom: solid rgb(92, 92, 0);
}
