@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: beige;
}

.cajaPrincipalDiv {
margin: 0 auto;
width: 60%;

}

.cajaGris{
  background: rgb(75, 75, 75);
  padding: 25px;
  margin-top: 10%;
  text-align: center;
}

.bodyDiv{
text-align: left;
}

.headerDiv{
  margin-bottom: 20px;
}

.inputTareaClass{
width: 100%;
font-size: 1.2rem;
padding: 5px;
margin-bottom: 5%;

}

.tareaLi{
  list-style: none;
  background: rgb(238, 238, 238);
  margin:7px 0px;
  padding: 5px;
  color: rgb(46, 46, 46);
}
.tareaLi:hover{
  cursor: default;
}

.botonX{
  
  float: right;
  margin-left: 10px;
  padding: 0px 5px;
  font-size: larger;
  border: none;
  background: rgb(212, 212, 212);
}
.botonX:hover{
  background: rgb(255, 216, 224);
}

.edicion{
  
  float: right;
  padding: 0px 2px;
  font-size: larger;
  border: none;
  background: rgb(212, 212, 212);
  }
  .edicion:hover{
    background: rgb(255, 231, 150);
    
  }

  .done{
    background: rgba(238, 238, 238, 0.178);
    color: rgb(68, 68, 68);
    text-decoration: line-through;
  }



  